.stepper{position: relative;display: block; margin-top: 30px; margin-bottom: 60px; background: #f1f1f1; padding:20px 20px 8px 20px; width: 70%; margin-left: 15%; border: 2px solid #5a6399; border-radius: 10px}
.stepper .stepper-single{float: left; margin-right: 3%; margin-left: 4%; font-size: 20px}
.stepper .stepper-single i{margin-left: 35%; font-size: 28px; color: #7b88d1}
.stepper .stepper-line{width: 150px; height: 10px; background: #a1affc;float:left; margin-top: 20px}