body {background-color: #fff; min-height: 100%; margin:0; padding: 5vh; display: flex; flex-direction: row;}


label{font-size: 1rem; font-weight: 600; color: #fff;}


.main-box{background-color: #000; width: calc(100% - 5vh); min-height: calc(100vh - 10vh); max-height: calc(100vh - 10vh); display: flex; flex-direction: column; 
            border-radius: 30px 0 0 30px;}


.side-main-box{background-color: #c6d6cc; width: 6vh; min-height: calc(100vh - 10vh); max-height: calc(100vh - 10vh); border-radius: 0 30px 30px 0;}


.main-header{padding: 3vh 3vh 6.5vh 3vh; display: flex; flex-direction: row;}
.main-header .main-header-left, .main-header .main-header-right{width: 50%; display: inline-flex;}
.main-header .main-header-right{width: 50%; display: inline-flex; justify-content: flex-end;}
.main-header .main-header-left .main-header-dot{height: 30px; width: 30px; border-radius: 50%; background-color: #082744;}
.main-header .main-header-left .main-header-image{margin-left: 1.5vh;}
.main-header .main-header-left .main-header-image a img{height: 3vh; filter: brightness(0) invert(1); -webkit-filter: brightness(0) invert(1); -webkit-transition: all ease-in-out;}
.main-header .main-header-right .main-header-logout{display: flex; justify-content: center; flex-flow: column; margin-right: 3vh;}
.main-header .main-header-right .main-header-logout a{text-decoration: none; font-size: 1em; color: #fff;}
.main-header .main-header-right .main-header-dp a img{height: 50px; width: 50px; border-radius: 50%;}


.box{min-height: calc(100vh - (12vh + 30px + 10vh)); overflow: hidden;}


.box .box-1, .box .box-3{width: 22%; min-height: 100%; max-height: 100%; border-radius: 0 0 0 30px;}
.box .box-2{width: 56%; height: 100%; overflow-inline: scroll; overflow-x: hidden;}
/* Hide scrollbar for Chrome, Safari and Opera */
.box .box-2::-webkit-scrollbar{display: none;}
/* Hide scrollbar for Firefox */
.box .box-2 {-ms-overflow-style: none; scrollbar-width: none;}


.left-side-bar{width: 60%; background-color: #082744; height: 100%; border-radius: 0 30px 0 30px;}
.left-side-bar .side-bar-dp{padding: 3vh 0;}
.left-side-bar .side-bar-dp img{width: 75%; border-radius: 50%; margin-bottom: 1vh}
.left-side-bar .side-bar-dp span{font-size: 1.5rem; font-weight: 600; color: #fff; text-shadow: 1px 1px 2px #f9f9f9d9;}
.left-side-bar .side-bar-menu-list{display: flex; flex-direction: column;}
.left-side-bar .side-bar-menu-list .side-bar-menu-list-item{display: flex; flex-direction: row; font-size: 0.8rem; color: #fff; padding: 1vh 1vh; cursor: pointer}
.left-side-bar .side-bar-menu-list .side-bar-menu-list-item:hover{background-color: #0e3355; border-radius: 15px;}
.left-side-bar .side-bar-menu-list .active{background-color: #0e3355; border-radius: 15px;}
.left-side-bar .side-bar-menu-list .side-bar-menu-list-item span{width: 30px; text-align: center;}
.left-side-bar .side-bar-menu-list .side-bar-menu-list-item span i{font-size: 0.8rem;}


.right-side-bar{float: right; margin-right: 1vh; width: 60%; background-color: #18191b; height: 100%; border-radius: 30px;}
.right-side-bar .right-side-bar-items{display: flex; flex-direction: column; padding: 1vh; text-align: center; color: #fff; font-size: 0.9rem; font-weight: 600;}
.right-side-bar .right-side-bar-items .right-side-bar-items-title{margin-bottom: 2vh;}
.right-side-bar .right-side-bar-items .section-selection{display: flex; flex-direction: column;}
.right-side-bar .right-side-bar-items .section-selection span{margin-bottom: 0.7vh;}
.right-side-bar .right-side-bar-items .section-selection .section-image{position: relative; width: 100%; border-radius: 15px; margin-bottom: 0.7vh;}
.right-side-bar .right-side-bar-items .section-selection .section-image img{width: 80%; border-radius: 15px;}
.right-side-bar .right-side-bar-items .section-selection .section-image .image-overlay{background: rgba(0,0,0,0.7); position: absolute; width: 80.5%; height: 100%; top: 51%; 
        left: 51%; transform: translate(-51%, -51%); border-radius: 15px;  cursor: pointer;}
.right-side-bar .right-side-bar-items .section-selection .section-image .image-overlay span{position: relative; top: 40%; font-size: 1.1em; cursor: pointer;}
.right-side-bar-items .see-more{margin-top: 1vh; font-size: 0.8rem; font-weight: 700; color: #fff; text-decoration: none;}
.right-side-bar .right-side-bar-switch .right-side-bar-switch-title{display: flex; flex-direction: row; padding: 0.5vh; text-align: left; color: #fff; font-size: 1rem; font-weight: 600;}
.right-side-bar .right-side-bar-switch .right-side-bar-switch-title .title-dot{position: relative; height: 20px; width: 20px; margin-right: 10px; padding: 13px; border-radius: 50%; background-color: #082744ab;}
.right-side-bar .right-side-bar-switch .right-side-bar-switch-title .title-dot .title-inner-dot{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 1.5vh; width: 1.5vh; margin-right: 10px; border-radius: 50%; background-color: #18191b;}
.right-side-bar-switch-body .right-side-bar-switch-body-items ul{list-style-type: none; margin-top: 1vh;}
.right-side-bar-switch-body .right-side-bar-switch-body-items ul li{display: flex; flex-direction: column; position: relative; padding-left: 5px; margin-bottom: 1vh; cursor: pointer;}
.right-side-bar-switch-body .right-side-bar-switch-body-items ul li:before{content: ""; display: block; position: absolute; left: -1.2vw; width: 2vh; height: 2vh; 
        border: 3px solid #0e3355; background: #0e3355; border-radius: 50%; box-shadow: 0px 0px 0px 3px #18191b inset;}
.right-side-bar-switch-body .right-side-bar-switch-body-items ul li img{width: 100%;}
.right-side-bar-switch-body .right-side-bar-switch-body-items ul li span{color: #fff; font-size: 0.55rem; font-weight: 600;}




.stories{padding: 1vh; display: flex; overflow: hidden; margin-bottom: 3vh;}
.stories .story-box{min-width: 8vw; max-width: 8vw; text-align: center; border-radius: 20px; margin-right: 2vh;}
.stories .story-box img{width: 100%; border-radius: 20px;}
.stories .story-box span{font-size: 0.9em; color: #fff;}


.posts{padding: 3vh 1vh 3vh 1vh; background-color: #000; display: flex; border-radius: 20px 20px 0 0;}
.posts .post-box{width: 100%; background-color: #18191b; border-radius: 20px; display: flex; flex-direction: row; padding: 1.5vh;}
.posts .post-box img{width: 5vh; height: 5vh; border-radius: 50%;}
.posts .post-box form{width: 100%; padding: 0 0 0 1vh;}
.posts .post-box form textarea{background-color: transparent; border-color: transparent;}
.posts .post-box form textarea::placeholder{font-size: 1em; font-weight: 700; color: #fff;}
.posts .post-box form button{cursor: pointer; font-size: 1em; background-color: #082744; font-weight: 600; border-color: #082744;}


.current-posts{padding: 0 3vh 0 3vh; background-color: #000; display: flex;}
.current-posts .active-posts{width: 100%; background-color: #18191b; border-radius: 20px; padding: 3vh; display: flex; flex-direction: row; margin-bottom: 2vh;}
.current-posts .active-posts .posts-owner-dp{min-width: 5vh; min-height: 5vh; max-width: 5vh; max-height: 5vh; border-radius: 50%;}
 .current-posts .active-posts .active-posts .active-post-content{width: 100%;} 
.current-posts .active-posts .active-post-content .active-post-content-header{display: flex; flex-direction: row; padding-left: 2vh; margin-bottom: 2vh}
.current-posts .active-posts .active-post-content .active-post-content-header .info, 
.current-posts .active-posts .active-post-content .active-post-content-header .three-dots{width: 50%}
.current-posts .active-posts .active-post-content .active-post-content-header .info h5{font-size: 1rem; color: #fff; font-weight: 600; margin: 0;}
.current-posts .active-posts .active-post-content .active-post-content-header .info span{color: #fff; font-size: 0.7em}
.current-posts .active-posts .active-post-content .active-post-content-header .three-dots{display: flex; flex-direction: column; float: right;}
.current-posts .active-posts .active-post-content .active-post-content-header .three-dots div{height: 0.6vh; width: 0.6vh; margin-left: 99%; margin-bottom: 0.24vh; 
    border-radius: 50%; background-color: #fff;}
.current-posts .active-posts .active-post-content .active-post-content-body{display: flex; flex-direction: column; padding-left: 2vh; color: #fff;}
.current-posts .active-posts .active-post-content .active-post-content-body .content-body-image{width: 100%; border-radius: 20px; margin-bottom: 1vh;}
.current-posts .active-posts .active-post-content .active-post-content-body p{font-size: 0.9em;}
.current-posts .active-posts .active-post-content .active-post-content-footer{display: flex; flex-flow: row; justify-content: flex-end;}
.current-posts .active-posts .active-post-content .active-post-content-footer a{color: #fff; font-size: 1.3em; margin-left: 2vh;}
.current-posts .active-posts .active-post-content .active-post-content-footer .liked{color: #dd3737;}










.side-main-box .row{display: inline;}
.side-main-box .row .search-button, .side-main-box .row .option-button, .side-main-box .row .toggle-button{height: 32%}
.side-main-box .row .search-button a i{position: absolute; font-size: 1.5rem; color: #000; left: 50%; top: 10%; transform: translate(-50%, -50%);}
.side-main-box .row .option-button a i{position: absolute; font-size: 1.5rem; color: #000; top: 50%; transform: translate(-50%);}
.side-main-box .row .toggle-button a i{position: absolute; font-size: 1.5rem; color: #000; bottom: 25%; transform: translate(-50%);}


















/***** ***** ***** ***** ***** Profile Page ***** ***** ***** ***** *****/

.profile-main-header{padding: 3vh 3vh 3vh 3vh !important;}

.pro-left-side-bar{width: 75%; background-color: #18191b; height: 85%; max-height: 85%; border-radius: 30px;}
.pro-left-side-bar .side-bar-dp{padding: 0; height: 75%;}
.pro-left-side-bar .side-bar-dp img{border-radius: 30px 030px 0 0; width: 100%; max-height: 90%; margin-bottom: 1vh}
.pro-left-side-bar .side-bar-dp span{font-size: 1em; font-weight: 600; color: #fff; margin-bottom: 1vh}
.pro-left-side-bar .side-bar-dp p{padding: 1vh 2vh 0 2vh; font-size: 0.75em; color: #fff; max-height: 60%;}
.pro-left-side-bar .side-bar-dp-footer{height: 25%; position: relative;}
.pro-left-side-bar .side-bar-dp-footer p{position: absolute; width: 100%; font-size: 1em; text-align: center; font-weight: 500; color: #707175; bottom: 1%}


.pro-left-side-bar-arrow {height: 16%; background-color: #082744; color: #fff; font-size: 2.5rem; padding: 0 0 0 5px; width: 35%; border-radius: 50%; position: relative; 
                                margin-left: -22%; margin-top: -10%; cursor: pointer;}
.pro-left-side-bar-arrow span{position: absolute; top:50%; left: 100%; transform: translate(calc(-100% - 2vh), -50%)}


.pro-cover{width: 100%; height: 38%; position: relative; background-position: center; background-size: cover; border-radius: 20px;}
.pro-cover .overlay{width: 100%; height: 100%; background-color: rgba(0,0,0,0.6);}
.pro-cover .pro-cover-content{position: absolute; width: 100%; bottom: 2%; padding: 0 1.5vh 1vh 1.5vh}

.profile-info{font-size: 1.1rem; font-weight: 600; color: #fff;}
.profile-connect-buttons{display: flex; justify-content: right;}
.profile-connect-buttons button{background-color: #0e3355; border-color: #0e3355; font-size: 0.7rem; margin-right: 10px; color: #fff; font-weight: 600; cursor: pointer;}


.pro-right-side-bar{width: 75% !important;}

.pro-right-side-bar-switch-body-items ul li img{width: 80% !important;}

.pro-see-more{margin-top: 0 !important; font-weight: unset !important;}