body {background-color: #fff; min-height: 100%; margin:0; padding: 5vh; display: flex; flex-direction: row;}

/***** ***** ***** ***** ***** Index Page ***** ***** ***** ***** *****/

label{font-size: 1rem; font-weight: 600;}

/***** ***** Main Box ***** *****/

.main-box{background-color: #fef5e4; width: calc(100% - 5vh); min-height: calc(100vh - 10vh); max-height: calc(100vh - 10vh); display: flex; flex-direction: column; 
            border-radius: 30px 0 0 30px;}


.side-main-box{background-color: #000; width: 6vh; min-height: calc(100vh - 10vh); max-height: calc(100vh - 10vh); border-radius: 0 30px 30px 0;}

/***** ***** Main Box End ***** *****/

/***** ***** Header ***** *****/

.main-header{padding: 3vh 3vh 6.5vh 3vh; display: flex; flex-direction: row;}
.main-header .main-header-left, .main-header .main-header-right{width: 50%; display: inline-flex;}
.main-header .main-header-right{width: 50%; display: inline-flex; justify-content: flex-end;}
.main-header .main-header-left .main-header-dot{height: 50px; width: 50px; border-radius: 50%; background-color: #5164cb;}
.main-header .main-header-left .main-header-image{margin-left: 1.5vh;}
.main-header .main-header-left .main-header-image a img{height: 5vh}
.main-header .main-header-right .main-header-logout{display: flex; justify-content: center; flex-flow: column; margin-right: 3vh;}
.main-header .main-header-right .main-header-logout a{text-decoration: none; font-size: 1em; color: #000;}
.main-header .main-header-right .main-header-dp a img{height: 50px; width: 50px; border-radius: 50%;}

/***** ***** Header End ***** *****/

/***** ***** Box ***** *****/

.box{min-height: calc(100vh - (12vh + 30px + 10vh)); overflow: hidden;}

/***** Left Box & Right Box *****/

.box .box-1, .box .box-3{width: 22%; min-height: 100%; max-height: 100%; border-radius: 0 0 0 30px;}

/***** Left Box & Right Box End *****/

/***** Middle Box *****/
.box .box-2{width: 56%; height: 100%; overflow-inline: scroll; overflow-x: hidden;} /* Hide scrollbar for Chrome, Safari and Opera */
.box .box-2::-webkit-scrollbar{display: none;} /* Hide scrollbar for Firefox */
.box .box-2 {-ms-overflow-style: none; scrollbar-width: none;}

/***** Middle Box End *****/



.left-side-bar{width: 60%; background-color: #7c88d2; height: 100%; border-radius: 0 30px 0 30px;}
.left-side-bar .side-bar-dp{padding: 3vh 0;}
.left-side-bar .side-bar-dp img{width: 75%; border-radius: 50%; margin-bottom: 1vh}
.left-side-bar .side-bar-dp span{font-size: 1.5rem; font-weight: 600; color: #000; text-shadow: 1px 1px 2px #00000094;}
.left-side-bar .side-bar-menu-list{display: flex; flex-direction: column;}
.left-side-bar .side-bar-menu-list .side-bar-menu-list-item{display: flex; flex-direction: row; font-size: 0.8rem; color: #fff; padding: 1vh 1vh; cursor: pointer; margin-bottom: 2px;}
.left-side-bar .side-bar-menu-list .side-bar-menu-list-item:hover{background-color: #848fd7; border-radius: 10px;}
.left-side-bar .side-bar-menu-list .active{background-color: #848fd7; border-radius: 10px;}
.left-side-bar .side-bar-menu-list .side-bar-menu-list-item span{width: 30px; text-align: center;}
.left-side-bar .side-bar-menu-list .side-bar-menu-list-item span i{font-size: 0.8rem;}


.right-side-bar{float: right; margin-right: 1vh; width: 60%; background-color: #18191b; height: 100%; border-radius: 30px;}
.right-side-bar .right-side-bar-items{display: flex; flex-direction: column; padding: 1vh; text-align: center; color: #fff; font-size: 0.9rem; font-weight: 600;}
.right-side-bar .right-side-bar-items .right-side-bar-items-title{margin-bottom: 2vh;}
.right-side-bar .right-side-bar-items .section-selection{display: flex; flex-direction: column;}
.right-side-bar .right-side-bar-items .section-selection span{margin-bottom: 0.7vh;}
.right-side-bar .right-side-bar-items .section-selection .section-image{position: relative; width: 100%; border-radius: 15px; margin-bottom: 0.7vh;}
.right-side-bar .right-side-bar-items .section-selection .section-image img{width: 80%; border-radius: 15px;}
.right-side-bar .right-side-bar-items .section-selection .section-image .image-overlay{background: rgba(0,0,0,0.7); position: absolute; width: 80.5%; height: 100%; top: 51%; 
        left: 51%; transform: translate(-51%, -51%); border-radius: 15px;  cursor: pointer;}
.right-side-bar .right-side-bar-items .section-selection .section-image .image-overlay span{position: relative; top: 40%; font-size: 1.1em; cursor: pointer;}
.right-side-bar-items .see-more{margin-top: 1vh; font-size: 0.8rem; font-weight: 700; color: #fff; text-decoration: none;}
.right-side-bar .right-side-bar-switch .right-side-bar-switch-title{display: flex; flex-direction: row; padding: 0.5vh; text-align: left; color: #fff; font-size: 1rem; font-weight: 600;}
.right-side-bar .right-side-bar-switch .right-side-bar-switch-title .title-dot{position: relative; height: 20px; width: 20px; margin-right: 10px; padding: 13px; border-radius: 50%; background-color: #5164cbab;}
.right-side-bar .right-side-bar-switch .right-side-bar-switch-title .title-dot .title-inner-dot{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 1.5vh; width: 1.5vh; margin-right: 10px; border-radius: 50%; background-color: #18191b;}
.right-side-bar-switch-body .right-side-bar-switch-body-items ul{list-style-type: none; margin-top: 1vh; margin-left: -13px}
.right-side-bar-switch-body .right-side-bar-switch-body-items ul li{display: flex; flex-direction: column; position: relative; padding-left: 5px; margin-bottom: 1vh; cursor: pointer}
.right-side-bar-switch-body .right-side-bar-switch-body-items ul li a{color: #fff}
.right-side-bar-switch-body .right-side-bar-switch-body-items ul li a:hover{text-decoration: none;}
.right-side-bar-switch-body .right-side-bar-switch-body-items ul li:before{content: ""; display: block; position: absolute; left: -1.2vw; width: 2vh; height: 2vh; 
        border: 3px solid #848fd7; background: #848fd7; border-radius: 50%; box-shadow: 0px 0px 0px 3px #18191b inset;}
.right-side-bar-switch-body .right-side-bar-switch-body-items ul li img{width: 100%;}
.right-side-bar-switch-body .right-side-bar-switch-body-items ul li span{color: #fff; font-size: 1.0rem; font-weight: 600; margin-left: 10px}




.stories{padding: 1vh; display: flex; overflow: hidden; margin-bottom: 3vh; width: 100%}
.stories .story-box{min-width: 8vw; max-width: 8vw; width: calc(100% / 5); text-align: center; border-radius: 20px; margin-right: 1vh; cursor: pointer}
.stories .story-box img{width: 100%; border-radius: 20px;}
.stories .story-box span{font-size: 0.9em;}


.posts{padding: 3vh 1vh 3vh 1vh; background-color: #feeecd; display: flex; border-radius: 20px 20px 0 0;}
.posts .post-box{width: 100%; background-color: #e2d3b6; border-radius: 20px; display: flex; flex-direction: row; padding: 1.5vh;}
.posts .post-box img{width: 5vh; height: 5vh; border-radius: 50%;}
.posts .post-box form{width: 100%; padding: 0 0 0 1vh;}
.posts .post-box form textarea{background-color: transparent; border-color: transparent;}
.posts .post-box form textarea::placeholder{font-size: 1em; font-weight: 700; color: #000;}
.posts .post-box form button{cursor: pointer; font-size: 1em; background-color: #7c88d2; font-weight: 600; border-color: #7c88d2;}


.current-posts{padding: 0 3vh 0 3vh; background-color: #feeecd; display: flex;}
.current-posts .active-posts{width: 100%; background-color: #18191b; border-radius: 20px; padding: 3vh; display: flex; flex-direction: row; margin-bottom: 2vh;}
.current-posts .active-posts .posts-owner-dp{min-width: 5vh; min-height: 5vh; max-width: 5vh; max-height: 5vh; border-radius: 50%;}
 .current-posts .active-posts .active-posts .active-post-content{width: 100%;} 
.current-posts .active-posts .active-post-content .active-post-content-header{display: flex; flex-direction: row; padding-left: 2vh; margin-bottom: 2vh}
.current-posts .active-posts .active-post-content .active-post-content-header .info, 
.current-posts .active-posts .active-post-content .active-post-content-header .three-dots{width: 50%}
.current-posts .active-posts .active-post-content .active-post-content-header .info h5{font-size: 1rem; color: #fff; font-weight: 600; margin: 0;}
.current-posts .active-posts .active-post-content .active-post-content-header .info span{color: #fff; font-size: 0.7em}
.current-posts .active-posts .active-post-content .active-post-content-header .three-dots{display: flex; flex-direction: column; float: right;}
.current-posts .active-posts .active-post-content .active-post-content-header .three-dots div{height: 0.6vh; width: 0.6vh; margin-left: 99%; margin-bottom: 0.24vh; 
    border-radius: 50%; background-color: #5164cb;}
.current-posts .active-posts .active-post-content .active-post-content-body{display: flex; flex-direction: column; padding-left: 2vh; color: #fff;}
.current-posts .active-posts .active-post-content .active-post-content-body .content-body-image{width: 100%; border-radius: 20px; margin-bottom: 1vh;}
.current-posts .active-posts .active-post-content .active-post-content-body p{font-size: 0.9em;}
.current-posts .active-posts .active-post-content .active-post-content-body h5{font-size: 28px; margin-top: 10px}
.current-posts .active-posts .active-post-content .active-post-content-body h5 a{color:#fff;}
.current-posts .active-posts .active-post-content .active-post-content-body h5 a:hover{text-decoration: none}
.current-posts .active-posts .active-post-content .active-post-content-footer{display: flex; flex-flow: row; justify-content: flex-end;}
.current-posts .active-posts .active-post-content .active-post-content-footer a{color: #5164cb; font-size: 1.3em; margin-left: 2vh;}
.current-posts .active-posts .active-post-content .active-post-content-footer .liked{color: #dd3737;}










.side-main-box .row{display: inline;}
.side-main-box .row .search-button, .side-main-box .row .option-button, .side-main-box .row .toggle-button{height: 32%}
.side-main-box .row .search-button a i{position: absolute; font-size: 1.5rem; color: #fff; left: 50%; top: 10%; transform: translate(-50%, -50%);}
.side-main-box .row .option-button a i{position: absolute; font-size: 1.5rem; color: #fff; top: 50%; transform: translate(-50%);}
.side-main-box .row .toggle-button a i{position: absolute; font-size: 1.5rem; color: #fff; bottom: 25%; transform: translate(-50%);}

/***** ***** ***** ***** ***** Index Page End ***** ***** ***** ***** *****/


.ws-modal{position: absolute !important; top: 60%; left: 50%; transform: translate(-50%, -50%) !important; margin: unset !important; max-width: 820px !important;}
.ws-modal .modal-content{border-radius: 20px !important;  background-color: #fef5e4; border-color: #fef5e4;}
.ws-modal .ws-modal-header{display: flex; flex-direction: row; justify-content: center;}
.ws-modal .ws-modal-header .ws-modal-title{width: 50%; font-weight: 600; font-size: 1.2em; margin: auto}
.ws-modal .ws-modal-header .ws-modal-buttons{width: 50%; text-align: right; display: flex; flex-direction: row-reverse;}
.ws-modal .ws-modal-header .ws-modal-buttons .ws-modal-buttons-body{display: flex; flex-direction: row; text-align: center; font-size: 0.6em; font-weight: 600; width: 100%;}
.ws-modal .ws-modal-header .ws-modal-buttons .ws-modal-buttons-body .ws-modal-switch-button{display: flex; flex-direction: column; padding-right: 5px;}
.ws-modal .ws-modal-header .ws-modal-buttons .ws-modal-buttons-body .ws-modal-switch-button i{font-size: 2.5em;}
.ws-modal .ws-modal-body{width: 100%; padding: 10px 0 10px 0;}
.ws-modal .ws-modal-body .ws-modal-form label{font-size: 0.8rem; font-weight: 700;}
.ws-modal .ws-modal-body .ws-modal-form input, .ws-modal .ws-modal-body .ws-modal-form textarea, .ws-modal .ws-modal-body .ws-modal-form select{border-radius: 10px; border-color: #e2d3b6; background-color: #e2d3b6;}
.ws-modal .ws-modal-body .ws-modal-form input::placeholder{font-size: 0.8rem; font-weight: bold;}
.ws-modal .ws-modal-body .ws-modal-form button, .ws-modal .ws-modal-body .ws-modal-form select{color: #fff; font-size: 0.9rem; font-weight: 700; cursor: pointer; background-color: #7c88d2; border-color: #7c88d2;}


/***** ***** ***** ***** ***** Login Page ***** ***** ***** ***** *****/

.l-body{background-color: #000;}

.l-main-box{background-color: #fff; width: calc(100%); min-height: calc(100vh - 10vh); max-height: calc(100vh - 10vh); display: flex; flex-direction: column; 
        border-radius: 30px;}

.l-box{min-height: calc(100vh - (10vh)); overflow: hidden;}

.l-box .l-box-1, .l-box .l-box-2{width: 50%; min-height: 100%; max-height: 100%; border-radius: 0 30px 30px 0;}


.l-box .l-box-2{position: relative; background-image: url('../files/login-bg.jpg'); background-position: top; background-repeat: no-repeat; background-size: cover;}




.l-header{display: flex; flex-direction: row; padding: 10vh 7vh 9vh 7vh; width: 100%;}

.l-header .l-header-dot{position: relative; height: 7vh; width: 7vh; border-radius: 50%; background-color: #0f6ccb;}
.l-header .l-header-dot .l-header-inner-dot{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 5vh; width: 5vh; border-radius: 50%; background-color: #fff;}

.l-header .l-header-logo{position: relative; width: calc(100% - 9vh);}
.l-header .l-header-logo a img{position: absolute; top: 50%; width: 85%; transform: translate(3%, -45%);}


.l-form span{font-size: 1.8em; font-weight: 600;}
.l-form-fields form{padding: 7% 18%;}
.l-form-fields form label{font-size: 1.5em; color: #000;}
.l-form-fields form input{height: 6vh; margin-bottom: 4vh; border-radius: 10px;}
.l-form-fields form input::placeholder{font-size: 1.2em;}
.l-form-fields form input:focus{border-color: #000;}
.l-form-fields form button{background-color: #0f6ccb; cursor: pointer; font-size: 1.5em; width: 100%; border-radius: 10px;}
.l-form-fields p{font-size: 1.2em;}
.l-form-fields p a{text-decoration: none;}
.l-form-fields p a b{color: #000; font-weight: 600;}



.l-read-more{position: absolute; bottom: 2%; left: 50%; transform: translate(-50%);}
.l-read-more a{text-decoration: none; display: flex; flex-direction: column;}
.l-read-more a i{font-size: 5em; color: #0f6ccb;}
.l-read-more a span{font-size: 1.4em; color: #fff; letter-spacing: 0.5px;}

/***** ***** ***** ***** ***** Login Page End ***** ***** ***** ***** *****/
.laptop-hide{display: none !important}